[submodule "glfw"]
	path = third/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = third/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "eigen"]
	path = third/eigen/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "eigen"]
	path = third/eigen/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
