[submodule "glfw"]
	path = third/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = third/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "mathfu"]
	path = third/mathfu/mathfu
	url = https://github.com/google/mathfu.git
[submodule "third/filament/filament"]
	path = third/filament/filament
	url = https://github.com/google/filament.git
